
body{
    background: url(../img/fondo.jpg) no-repeat center fixed;
    background-size: cover;
}

.container{
    text-align: center;
    margin-top: 50px ;
    font-size: 15px;
    font-weight: bold;
}
.registrar {
    margin-bottom: 35px;
}
.col-6 {
   margin:100px 280px;
   margin-top: 45px;
   font-weight: bold;
}