<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Menú Principal</title>
    <link rel="stylesheet" href="css/style_menu_prueba.css">
    <link rel="stylesheet" href="css/bootstrap.css">
</head>
<body>
    <div class="card text-light">
        <div class="card-img-overlay">
            <h1>Pedagógico Público Puno</h1>
            <h1>"Alma Mater del Magisterio Regional</h1>
            <a href="#" class="btn btn-primary">Ir a la pagina principal</a>
        </div>
    </div>
</body>
</html>