<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Usuario Nuevo</title>
    <link rel="icon" href="img/favicon-32x32.png">
    <link rel="stylesheet" href="css/unuevo.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/all.css">
    <link rel="stylesheet" href="css/fontawesome.css">
    <link rel="stylesheet" href="css/solid.css">

</head>
<body>


    <div class="container">
         <div class="row">
             <div class="col-6">
                 <h2 class="registrar">Registrase</h2>
                 <form action="">
                     <div class="form-group row">
                        <label for="" class="col-5 col-form-label">Usuario:</label>
                        <input type="text" name="usuario" id="usuario" placeholder="Usuario" class="form-control col-7">
                     </div>
                     <div class="form-group row">
                        <label for="" class="col-5 col-form-label">Contraseña:</label>
                        <input type="password" name="contrasena" id="contrasena" placeholder="Contraseña" class="form-control col-7">
                     </div>
                     <div class="form-group row">
                        <label for="" class="col-5 col-form-label">Primer Nombre:</label>
                        <input type="text" name="pnombre" id="pnombre" placeholder="Primer Nombre" class="form-control col-7">
                     </div>
                     <div class="form-group row">
                        <label for="" class="col-5 col-form-label">Apellido Paterno:</label>
                        <input type="text" name="apaterno" id="apaterno" placeholder="Apellido Paterno" class="form-control col-7">
                     </div>
                     <div class="form-group row">
                        <label for="" class="col-5 col-form-label">E-mail:</label>
                        <input type="email" name="email" id="email" placeholder="E-mail" class="form-control col-7">
                     </div>
                     <div class="form-group row">
                        <label for="" class="col-5 col-form-label">Confirmar e-mail:</label>
                        <input type="email" name="cemail" id="cemail" placeholder="Confirmar e-mail" class="form-control col-7">
                     </div>
                </form> 

                <div class="botones text-center">
                        <button class="btn btn-primary" type="submit" value="Input">REGISTRAR</button><br>
                </div>
             </div>
         </div>
     </div>






    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/all.js"></script>
</body>
</html>